@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}


body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}
/*Vung ABD*/
#right{
    background-color: rgba(100, 117, 192, 0.452);
}
/*Vung D*/
#footer{
    position: absolute;
    bottom: 0px;
    text-align: center;
    color: rgba(240, 248, 255, 0.747);
}
/*Vung B*/
#avatar{
    float: right;
    top: 0;
    right: 0;
    width: 25%;
    height: 25%;
}
/*Vung A*/
#above{
    position: relative;
    margin: 5%;
}
img{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
}
#container{
    position: relative;
    background-image: url("../images/background.jpg");
    background-color: rgba(187, 231, 231, 0.685);
}
/*Vung C*/
#left{
    width:229px;
	float:left;
	height:auto;
	position: relative;
    margin-bottom: 400px;
    margin-top: 50px;
}

  
table, th, td {
    border: 1px solid;
}
tr{
    max-height: 20px;
}
td{
    vertical-align:middle;
}
